/* Custom property para a animação do gradiente */
@property --deg {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

.about-me-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6.25rem 25rem 0rem 25rem;
  gap: 5rem;
}

.about-me-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 22.5rem;
  height: 22.5rem;
}

.about-me-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: conic-gradient(
    from var(--deg),
    var(--cor1),
    var(--cor5),
    var(--cor5),
    var(--cor1),
    var(--cor5),
    var(--cor2)
  );
  border-radius: 0.625rem;
  animation: autoRotate 30s linear infinite;
  filter: blur(1.875rem);
}

@keyframes autoRotate {
  to {
    --deg: 360deg;
  }
}

.about-me-image img {
  position: block;
  z-index: 1;
  width: 30vh;
  height: 30vh;
  object-fit: cover;
  border-radius: 0.625rem;
}

.about-me-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex: 1.2;
  justify-content: center;
}

.about-me-title {
  font-size: 2rem;
  font-weight: 400;
  color: var(--cor3);
  margin-bottom: 0.9375rem;
}

.about-me-subtitle {
  border-left: 0.1875rem solid var(--cor1);
  padding-left: 0.9375rem;
}

.about-me-text p {
  font-size: 1rem;
  line-height: 1.6;
  color: #b0b0b0;
}

/* --- RESPONSIVIDADE --- */
@media (max-width: 75rem) { /* 1200px */
  .about-me-content {
    padding: 6.25rem 9.375rem 0rem 9.375rem;
  }
}

@media (max-width: 62rem) { /* 992px */
  .about-me-content {
    flex-direction: column;
    text-align: center;
    padding: 5rem 3.125rem 0rem 3.125rem;
  }
  .about-me-text {
    height: auto;
    align-items: center;
  }
  .about-me-title {
    text-align: center;
  }
  .about-me-subtitle {
    border-left: none;
    padding-left: 0;
  }
}