/* Custom property para a animação do gradiente */
@property --deg {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

.about-me-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6.25em 25em 0em 25em;
  gap: 5em;
}

.about-me-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 22.5em;
  height: 22.5em;
}

.about-me-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: conic-gradient(
    from var(--deg),
    var(--cor1),
    var(--cor5),
    var(--cor5),
    var(--cor1),
    var(--cor5),
    var(--cor2)
  );
  border-radius: 0.625em;
  animation: autoRotate 30s linear infinite;
  filter: blur(1.875em);
}

@keyframes autoRotate {
  to {
    --deg: 360deg;
  }
}

.about-me-image img {
  position: relative;
  z-index: 1;
  width: 20.625em;
  height: 20.625em;
  object-fit: cover;
  border-radius: 0.625em;
}

.about-me-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex: 1.2;
  justify-content: center;
}

.about-me-title {
  font-size: 2em;
  font-weight: 400;
  color: var(--cor3);
  margin-bottom: 0.9375em;
}

.about-me-subtitle {
  border-left: 0.1875em solid var(--cor1);
  padding-left: 0.9375em;
}

.about-me-text p {
  font-size: 1em;
  line-height: 1.6;
  color: #b0b0b0;
}

/* --- RESPONSIVIDADE --- */
@media (max-width: 75em) { /* 1200px */
  .about-me-content {
    padding: 6.25em 9.375em 0em 9.375em;
  }
}

@media (max-width: 62em) { /* 992px */
  .about-me-content {
    flex-direction: column;
    text-align: center;
    padding: 5em 3.125em 0em 3.125em;
  }
  .about-me-text {
    height: auto;
    align-items: center;
  }
  .about-me-title {
    text-align: center;
  }
  .about-me-subtitle {
    border-left: none;
    padding-left: 0;
  }
}