/* Custom property para a animação do gradiente */
@property --deg {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

.about-me-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 400px 0px 400px;
  gap: 80px;
}

.about-me-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 360px;
  height: 360px;
}

.about-me-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: conic-gradient(
    from var(--deg),
    var(--cor1),
    var(--cor5),
    var(--cor5),
    var(--cor1),
    var(--cor5),
    var(--cor2)
  );
  border-radius: 10px;
  animation: autoRotate 30s linear infinite;
  filter: blur(30px);
}

@keyframes autoRotate {
  to {
    --deg: 360deg;
  }
}

.about-me-image img {
  position: relative;
  z-index: 1;
  width: 330px;
  height: 330px;
  object-fit: cover;
  border-radius: 10px;
}

.about-me-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex: 1.2;
  /* --- ALTERAÇÕES APLICADAS AQUI --- */
  justify-content: center; /* Centraliza o conteúdo de texto na vertical */
}

.about-me-title {
  font-size: 2em;
  font-weight: 400;
  color: var(--cor3);
  margin-bottom: 15px;
}

.about-me-subtitle {
  border-left: 3px solid var(--cor1);
  padding-left: 15px;
}

.about-me-text p {
  font-size: 1em;
  line-height: 1.6;
  color: #b0b0b0;
}

/* Responsividade */
@media (max-width: 992px) {
  .about-me-section {
    padding: 80px 50px;
  }
  .about-me-content {
    flex-direction: column;
    text-align: center;
  }
  .about-me-text {
    height: auto; /* Remove a altura fixa em telas menores */
    align-items: center; /* Centraliza o texto horizontalmente no mobile */
  }
  .about-me-title {
    text-align: center;
  }
  .about-me-subtitle {
    border-left: none;
    padding-left: 0;
  }
}
