@property --deg {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

@keyframes autoRotate {
  to {
    --deg: 360deg;
  }
}

.container-certificados {
  padding: 6.25em 15.625em 0 15.625em;
}

.interligacao-certificado {
  width: 100%;
  text-align: center;
  color: var(--cor3);
  padding: 0em 0 1.875em 0;
}

.titulo-certificado {
  font-weight: 300;
  font-size: 2em;
  color: var(--cor1);
  margin: 0em;
}

.texto-certificado {
  font-weight: 400;
  font-size: 1em;
  max-width: 50em;
  margin: 0 auto;
  line-height: 1.6;
}

.swiper-container {
  width: 100%;
  padding: 0 2.5em 0em 2.5em;
}

.swiper-slide {
  height: auto;
  display: flex;
}

.certificate-card {
  background: linear-gradient(145deg, #1a1a1a, #000000);
  border-radius: 0.625em;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 28.125em;
  position: relative;
  z-index: 1;
  box-shadow: 0 0.3125em 0.9375em rgba(0, 0, 0, 0.4), 0 0.125em 0.5em rgba(0, 0, 0, 0.2);
}

.certificate-card::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150%;
  height: 250%;
  background: conic-gradient(
    from var(--deg),
    var(--cor5),
    var(--cor1),
    var(--cor5),
    var(--cor2)
  );
  animation: autoRotate 20s linear infinite;
  filter: blur(2.5em);
  z-index: -1;
  opacity: 0.8;
}

.certificate-image {
  width: 100%;
  height: auto;
  background-color: #0c0c0c;
}

.certificate-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.certificate-info {
  padding: 1.25em;
  flex-grow: 1;
}

.certificate-info h4 {
  margin: 0 0 0.625em 0;
  font-size: 1.2em;
  font-weight: 500;
  color: var(--cor3);
}

.certificate-info span {
  font-size: 0.9em;
  color: #aaa;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--cor1) !important;
}

.swiper-pagination-bullet {
  background: var(--cor2) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: var(--cor1) !important;
}

.certificate-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
}

/* --- RESPONSIVIDADE --- */
@media (max-width: 75em) { /* 1200px */
  .container-certificados {
    padding: 6.25em 9.375em 0 9.375em;
  }
}

@media (max-width: 62em) { /* 992px */
  .container-certificados {
    padding: 5em 3.125em 0 3.125em;
  }
}

@media (max-width: 48em) { /* 768px */
  .container-certificados {
    padding: 3.75em 0.9375em 0 0.9375em;
  }
  .swiper-container {
    padding: 0 0 2.5em 0;
  }
}