.expanding-overlay {
  background-color: rgba(
    22,
    22,
    22,
    0.8
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5rem;
  border-radius: 0.3125rem;
  z-index: 10;
  box-shadow: 0 0rem 1rem var(--cor3);
  white-space: normal;
  word-break: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: scale(0.95);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.expanding-overlay.expanded {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

.hidden-button {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.close-expanded-btn {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  font-size: 0.8rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 2.1875rem;
  height: 2.1875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--cor3);
  z-index: 11;
  transition: background-color 0.3s ease-in-out;
}

.close-expanded-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.container-expanded-content1 {
  display: flex;
  text-align: center;
  column-gap: 4.375rem;
  font-family: "montserrat", sans-serif;
  font-size: 0.875rem;
  padding: 0rem 3.125rem 0rem 3.125rem;
}

.column-btn1 {
  border: 0.125rem solid var(--cor3);
  background-color: var(--cor5);
  box-shadow: 0 0 0.625rem var(--cor3);
  border-radius: 1.25rem;
  padding: 0rem 2.5rem 0 2.5rem;
  width: 25rem;
}

.container-expanded-content1 img {
  max-width: 11.25rem;
  height: auto;
  margin: 1.25rem 1.25rem 0.625rem 1.25rem;
}

.container-expanded-content1 h3 {
  font-size: 1.125rem;
  font-weight: 500;
}