@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* --cor1: #ff4d05; */
  --cor1: #ff4d05;
  --cor2: #3b3b3b;
  --cor3: #ffffff;
  --cor4: #ff4d05;
  --cor5: #000000;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--cor5);
  color: var(--cor3);
  font-family: 'Montserrat', sans-serif;
}

header {
  background: linear-gradient(to left, #000000 50.125%, #ff4d05 100%);
  margin: 0 0 0px 0;
  padding: 10px 150px 10px 0px;
  text-align: center;
}

.header-content {
  background-color: var(--cor5);
  align-items: center;
  margin: 0 auto;
}

.site-branding {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
}

.links {
  background-color: var(--cor5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-bottom: 40px;
}

.link-list {
  gap: 50px;
  font-size: 1.1rem;
  display: flex;
  padding: 50px 0px 50px 150px;
}

.insta img,
.git img,
.linkedin img,
.whatsapp img {
  gap: 20px;
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.insta img:hover,
.git img:hover,
.linkedin img:hover,
.whatsapp img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  filter: brightness(1.4);
  cursor: pointer;
}


.links-redes {
  display: flex;
  gap: 50px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 25px;
}

nav ul li a {
  color: var(--cor3);
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: var(--cor1);
  text-shadow: var(--cor1) 0px 0px 10px;
}

canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}