.container-segundo-main {
  background-color: var(--cor5);
  padding: 0px 150px 10px 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

.interligacao-segundo-main {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: var(--cor3);
}

.titulo-interligacao-segundo-main {
  font-weight: 400;
  font-size: 2.8em;
  color: var(--cor1);
  margin-bottom: 10px;
}

.texto-interligacao-segundo-main {
  font-weight: 400;
  font-size: 1.1em;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.container-sites {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.img-site1, .img-site2, .img-site3, .img-site4 {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.portfolio-thumbnail:hover {
  transform: scale(1.02);
}

.portfolio-image-wrapper {
  height: 300px; 
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.portfolio-image-wrapper:hover {
  transform: scale(1.02);
}

.portfolio-image-wrapper img {
  width: 100%;
  height: auto;
}
