@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.divpremain {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--cor5);
  padding: 0 7.5em 3.125em 17.5em;
}

.premain {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: var(--cor5);
  color: var(--cor3);
  text-align: left;
}

.img-im {
  display: block;
  max-width: 9.375em;
  height: auto;
}

.Iam {
  position: relative;
  display: inline-block;
}

.p-im {
  position: absolute;
  top: 50%;
  left: 41%;
  transform: translate(-35%, -100%);
  margin: 0;
  color: var(--cor5);
  pointer-events: none;
}

.titulo-container {
  display: flex;
  align-items: center;
  gap: 0em;
}

.titulo-premain {
  font-size: 3.75em;
  font-weight: 500;
  margin: 0;
  text-align: left;
}

.p-premain {
  display: flex;
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 1.25em;
  text-align: left;
}

.div-btn {
    background-color: var(--cor5);
    display: flex;
    flex-direction: row;
    gap: 1.875em;
    padding: 1.25em 0em;
    padding-left: 0em;
}

.btn {
  background-color: var(--cor4);
  box-shadow: var(--cor1) 0em 0em 0.625em;
  color: var(--cor3);
  padding: 1.25em 1.25em;
  border: none;
  border-radius: 0.3125em;
  text-decoration: none;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn2 {
  background-color: var(--cor5);
  color: var(--cor3);
  padding: 1.25em 1.25em;
  box-shadow: var(--cor1) 0em 0em 0.625em;
  border: none;
  border-radius: 0.3125em;
  text-decoration: none;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: var(--cor5);
  box-shadow: var(--cor1) 0em 0em 0.625em;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn:active {
  transform: translateY(0.0625em);
}

.btn2:hover {
  background-color: var(--cor4);
  box-shadow: var(--cor4) 0em 0em 0.625em;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn2:active {
  transform: translateY(0.0625em);
}

.img-premain {
  display: flex;
  align-items: center;
  translate: 0% 0%;
  z-index: 0;
}

.img-premain img {
  width: 46.875em;
}

/* --- RESPONSIVIDADE --- */
@media (max-width: 75em) { /* 1200px */
  .divpremain {
    padding: 0 2.5em 3.125em 7.5em;
  }
  .img-premain img {
    width: 37.5em;
  }
}

@media (max-width: 62em) { /* 992px */
  .divpremain {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 0 2.5em 3.125em 2.5em;
  }
  .premain, .titulo-premain, .p-premain {
    text-align: center;
  }
  .div-btn {
    justify-content: center;
  }
  .img-premain img {
    width: 100%;
    max-width: 31.25em;
    margin-bottom: 2.5em;
  }
}