::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: var(--cor5);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--cor2);
  border-radius: 10px;
  border: 2px solid var(--cor5);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--cor4);
}

.feed-container::-webkit-scrollbar,
.portfolio-img-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.feed-container::-webkit-scrollbar-track,
.portfolio-img-container::-webkit-scrollbar-track {
  background: transparent;
}

.feed-container::-webkit-scrollbar-thumb,
.portfolio-img-container::-webkit-scrollbar-thumb {
  background: var(--cor3);
  border-radius: 10px;
  border: none;
}

.feed-container::-webkit-scrollbar-thumb:hover,
.portfolio-img-container::-webkit-scrollbar-thumb:hover {
  background: var(--cor4);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--cor2) var(--cor5);
}

.feed-container,
.portfolio-img-container {
  scrollbar-width: thin;
  scrollbar-color: var(--cor3) transparent;
}