@property --deg {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

@keyframes autoRotate {
  to {
    --deg: 360deg;
  }
}

.interligacao-tech {
  width: 100%;
  text-align: center;
  color: var(--cor3);
  padding: 6.25rem 0 0 0;
}

.titulo-tech {
  font-weight: 300;
  font-size: 2rem;
  color: var(--cor1);
  margin-bottom: 0rem;
}

.texto-tech {
  font-weight: 400;
  font-size: 1rem;
  margin: 0 auto;
  line-height: 1.6;
}

.tech-stack-section {
  background-color: var(--cor5);
}

.tech-stack-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.875rem;
  padding: 0 18.75rem;
}

.tech-category-column {
  border-radius: 0.1875rem;
  padding: 1.5625rem;
  flex: 1;
  width: 21.875rem;
  text-align: center;
  position: relative;
  overflow: visible;
  z-index: 1;
}

.tech-category-column::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(240deg, #161616, #000000);
  border-radius: 0.1875rem;
  z-index: -1;
}

.tech-category-column::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(
    from var(--deg),
    var(--cor2),
    var(--cor5),
    var(--cor1),
    var(--cor2)
  );
  animation: autoRotate 20s linear infinite;
  filter: blur(2.1875rem);
  z-index: -2;
  opacity: 0.9;
  border-radius: 0.1875rem;
}

.tech-category-column:hover {
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.tech-category-column h3 {
  font-weight: 400;
  text-shadow: #000000 0rem 0rem 0.3125rem;
  font-size: 1.4rem;
  color: var(--cor1);
  margin-bottom: 1.875rem;
  border-bottom: 0.125rem solid var(--cor2);
  padding-bottom: 0.625rem;
}

.tech-items-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  justify-content: center;
}

.tech-item {
  background-color: var(--cor2);
  color: #b0b0b0;
  padding: 0.5rem 0.9375rem;
  border-radius: 0.9375rem;
  font-size: 0.8rem;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tech-item:hover {
  background-color: var(--cor1);
  color: var(--cor5);
}

/* --- RESPONSIVIDADE --- */
@media (max-width: 75rem) { /* 1200px */
  .tech-stack-container {
    padding: 0 9.375rem;
  }
}

@media (max-width: 62rem) { /* 992px */
  .tech-stack-container {
    flex-direction: column;
    padding: 0 3.125rem;
  }
}